@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Playfair+Display&family=Roboto&family=Shadows+Into+Light&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: cursive;
  font-weight: normal;
}

.wrapper {
  width: 80%;
  margin: 0 auto;

}

header {

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.leftheader {
  flex-basis: 40%;
  text-align: right;
  padding-right: 0.5rem;
}

.rightheader {

  flex-basis: 60%;
  margin-top: 3.7rem;
  padding-left: .5rem;
}

.rightheader h1 {
  margin: 0;
  font-size: 3em;
  color: #DA0090;
}

.rightheader p {
  margin-top: -.1rem;
}

nav {
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li {

  display: inline-block;

}

nav a {
  color: #73352E;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;

}

nav a:hover {
  background-color: #84DE37;
  color: black;
  text-decoration: underline;
}


h2 {
  font-size: 2rem;
  color: #A51F10;
  margin: 0;
}

section {
  border-bottom: 1px solid orange;
  marign-bottom: 1.3rem;
  display: flex;
  flex-flow: column nowrap;
}

article {
  margin: 2rem 0;
}

article img {
  float: left;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
}

article::after {
  content: "";
  display: table;
  clear: both;
}

.posted {
  font-size: .9rem;
  color: #89A611;
}



footer {
  padding: 1rem 0 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  border-top: 2px solid orange;

}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  display: inline-block;
}
